body {
  font-family: 'Gilroy';
  color: #333333;
}

/* CONTAINER */

.container-1180{
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

/* HEADER & NAV BAR */

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 112px;
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  
}

.menu{
  display: flex;
  justify-content: space-between;
  min-width: 677px;
}

.menu_link{
  text-decoration: none;
  font-style: normal;
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.menu_link:hover{
  color: #3454F5;
  transition: linear .3s;
}

.white_btn{
  text-decoration: none;
  padding: 12px 40px;
  border: 2px solid #333333;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.simple_dev{
  width: 100%;
  max-width: 1560px;
  height: 735px;
  margin: 0 auto;
  background: url(../img/main_bg.jpg) center center /cover no-repeat;
  margin-bottom: 100px;
}

.main_title{
  margin-left: 198px;
  max-width: 600px;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  padding-top: 173px;
  margin-bottom: 26px;
}

.dev_dscr{
  margin-left: 198px;
  max-width: 567px;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 46px;
}

.blue_btn{
  margin-left: 198px;
  text-decoration: none;
  padding: 24px 80px;
  background: #3454f5;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

/* INTERNET FOR BUISSNES */

.title_internet{
  max-width: 630px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 25px;
}

.internet_dscr{
  max-width: 485px;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 50px;
}

.main_info{
  display: flex;
}

.tsekh_img img{
  margin: 0 204px 0 -211px;
}

.reason_item_1{
  max-width: 463px;
}

.reason_ico_1,
.reason_ico_2{
  margin-bottom: 23px;
}

.reason_ico_2,
.reason_ico_3,
.reason_ico_4{
  margin-left: 38px;
  margin-bottom: 23px;
}

.reason_title{
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
  margin-left: 38px;
}

.reason_dscr{
  min-width: 463px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-left: 38px;
  margin-bottom: 79px;
}

.reason_dscr_2, 
.reason_dscr_3, 
.reason_dscr_4{
  min-width: 480px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-left: 38px;
  margin-bottom: 79px;
}

.reason_dscr_4{
  margin-bottom: 183px;
}

